.page
	.page-thumbnail
		display: flex
		justify-content: center
		align-items: flex-start
		@media screen and (max-width: 600px)
			display: block
		img
			height: auto
			max-width: 100%
			object-fit: contain
		img.page-thumbnail-pc
			display: block
			@media screen and (max-width: 600px)
				display: none
		img.page-thumbnail-sp
			display: none
			@media screen and (max-width: 600px)
				display: block
	.page-container
		.page-container-title
			text-align: center
		.page-container-date
			text-align: right
			margin-bottom: 40px
		.page-container-content
			p
				text-align: justify
			figure.wp-block-image
				@media screen and (max-width: 600px)
					margin-right: 0
					margin-left: 0