.header
	background-color: #333
	.head-navbar
		background-color: transparent
		.container
			.navbar-brand
				.navbar-item
					color: #fff
					h1
						font-size: 5vmin
						font-weight: bold
						color: #fff
			.navbar-end
				display: none
				.navbar-item
					color: #fff
				.navbar-item:hover
					background-color: transparent
